extends ../main.layout.pug

block variables
  - var title = 'Алексей Карасев | Блог'

block scripts
  script(src='blog.bundle.js')

block header_image
  .header__image
    +icon("blog_header","header__image-icon section__image-icon")
block user
  .user__wrap.user__wrap--transparent
    .user
      .user__image.user__image--blog
        +image("alex-about.jpg","Алексей Карасев","user__image-pic")
      .user__title
        h1.blog__title.title Блог
      .blog__desc Статьи, которые я написал
block section_blog
  .blog.js-add-padding
    .blog__triangle.triangle
      .blog__triangle-left.triangle-left
      .blog__triangle-right.triangle-right
    .blog__container
      aside.aside.blog__aside.js-aside
        button.blog__aside-button.js-aside-btn(type="button")
        ul.blog-menu__list
          li.blog-menu__item.blog-menu__item--active
            button.blog-menu__btn(type="button") Самое важное в SSS
          li.blog-menu__item.blog-menu__item 
            button.blog-menu__btn(type="button") Приёмы в вёрстке, без которых не обходится ни один сайт
          li.blog-menu__item.blog-menu__item
            button.blog-menu__btn(type="button") Самый необходимый набор Gulp плагинов
          li.blog-menu__item.blog-menu__item
            button.blog-menu__btn(type="button") Почему я выбрал Jade
      section.blog__content
        article.post
          header.post__header
            hgroup
              h2.post__title
                a.post__link(href="#") Самое важное в SASS
          .post__meta
            .post__date 22 ноября 2016
          .post__desc
            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        article.post
          header.post__header
            hgroup
              h2.post__title
                a.post__link(href="#") Приёмы в вёрстке, без которых не обходится ни один сайт
          .post__meta
            .post__date 13 ноября 2016
          .post__desc
            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        article.post
          header.post__header
            hgroup
              h2.post__title
                a.post__link(href="#") Самый необходимый набор Gulp плагинов
          .post__meta
            .post__date 10 ноября 2016
          .post__desc
            p Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
            p Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.