extends ../main.layout.pug

block variables
  - var title = 'Алексей Карасев | Мои работы'

block scripts
  script(src='works.bundle.js')

block header_image
  .header__image
    +icon("portfolio_header","header__image-icon section__image-icon")
block header_scroll  
  .header__scroll
    +scroll("down", "normal")
block user
  .user__wrap.user__wrap--transparent
    +user()
block section_works
  section.works
    .works__triangle.triangle
      .works__triangle-left.triangle-left
      .works__triangle-right.triangle-right
    .works__image.section__image
      +icon("works_header","works__image-icon section__image-icon")
      h2.works__title.title Мои работы
    .works__slider
      .slider.js-slider
        .slider__desc.js-slider-desc
          .slider__desc-wrap
            .slider__desc-content
              h3.slider__desc-title.subtitle Сайт школы онлайн образования
              h4.slider__desc-subtitle html , css, javascript
              a.slider__desc-link(href="#", title="Посмотреть сайт") Посмотреть сайт
                +icon("link", "slider__desc-icon")  
        .slider__main
          +image("layer1small.png", "Первый слайд", "slider__image")

        button.slider__up(type="button")
          +image("layer1small.png", "Первый слайд", "slider__image")
          .slider__scroll
            +icon("arrow_down","slider__scroll-icon slider__scroll-icon--up")
        button.slider__down(type="button")
          +image("layer1small.png", "Первый слайд", "slider__image")
          .slider__scroll
            +icon("arrow_down","slider__scroll-icon slider__scroll-icon--down")
block section_reviews
  section#reviews.reviews.js-add-padding
    .reviews__bg.js-reviews-bg
      img.reviews__bg-img(src="assets/images/bg/reviews-bg.png", alt="Фон для отзывов")
    .container.reviews__container
      +icon("list1","reviews__icon reviews__icon--list1")
      +icon("list2","reviews__icon reviews__icon--list2")
      +icon("list3","reviews__icon reviews__icon--list3")
      .reviews__image.section__image
        +icon("about_header","reviews__image-icon section__image-icon")
        h2.reviews__title.title Что обо мне говорят
      .reviews__content
        .reviews__content-wrap
          .reviews__content-item
              .reviews__content-image 
                +image("dmitry.jpg", "Дмитрий Ковальчук", "reviews__content-image__pic")
              .reviews__content-text
                p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 5 недель только самых тяжелых испытаний и бессонных ночей!
              h3.reviews__content-title Ковальчук Дмитрий
              .reviews__content-subtitle — основатель Loftschool
          .reviews__content-item
              .reviews__content-image 
                +image("vladimir.jpg", "Владимир Сабанцев", "reviews__content-image__pic")
              .reviews__content-text
                p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах!
              h3.reviews__content-title Владимир Сабанцев
              .reviews__content-subtitle — преподаватель
    .reviews__form.js-blur-wrapper.js-add-height
      .form__blur.js-blur
      .form__container.js-add-margin
        form#form.form.form__reviews.form--bg_color(action="")
          h2.form__subtitle.subtitle Связаться со мной
          .form__row.form__row--reviews
            input.form__input.form__input--reviews(aria-label="Введите имя" type="text" name="name" placeholder="Имя")
          .form__row.form__row--reviews
            input.form__input.form__input--reviews(aria-label="Введите email" type="text" name="email" placeholder="Email")
          .form__row.form__row--reviews
            textarea.form__textarea(aria-label="Введите сообщение" name="message" placeholder="Ваше сообщение")
          .form__row.form__row--reviews
            .form__list
              input.form__submit(type="submit" value="Отправить")
              input.form__reset(type="reset" value="Очистить")
    .reviews__scroll
      +scroll("up")
