footer.footer 
  ul.footer__list 
    li.footer__item
      .footer__desc Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
    li.footer__item
      nav.footer__menu
        ul.footer__menu-list
          li.footer__menu-item
            a.footer__menu-link(href="works.html" title="Мои работы") Мои работы
          li.footer__menu-item
            a.footer__menu-link(href="about.html" title="Обо мне") Обо мне
          li.footer__menu-item
            a.footer__menu-link(href="blog.html" title="Блог") Блог
          li.footer__menu-item
            a.footer__menu-link(href="index.html?auth" title="Авторизация") Авторизация
      .footer__social
        +social("footer")
    li.footer__item
      .footer__quote
        .footer__quote-desc Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
        .footer__quote-author — Martin Golding
  .footer__copyright
    .copyright © Алексей Карасев | создано с любовью в LoftSchool | 2018