header.header.section
  .header__social
    +social("header")
  .header__hamburger
    button.hamburger(type="button")  
      span.hamburger__bar
  .header__content
    block header_image
    block user
  block header_scroll  

