header.header.section
  .header__bg.js-parallax-bg(style="background-image: linear-gradient(to top, rgba(2, 2, 2, 0) 0%, rgba(0, 0, 0, 0.35) 100%), url(assets/images/bg/bg.jpg)")
  .header__social
    +social("header")
  .header__hamburger
    button.hamburger(type="button")  
      span.hamburger__bar
  block header_image
  block user
  block header_scroll  

