header.header.section
  .header__social
    +social("header")
  .header__hamburger
    button.hamburger(type="button")  
      span.hamburger__bar
  .header__content
    block header_title
    block user
  .header__scroll
    +scroll("down", "normal")
