include ./common/_mixins
block variables

doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(content="width=device-width, initial-scale=1" name="viewport")
    +favicon()

    title #{title}

    link(rel='stylesheet' href='main.min.css')
  body
    +preloader
    .wrapper
      main.main
        section.welcome
          block content
      footer.footer
        .footer-small
          block copyright
    include ./common/shaders   
    script(src="auth.bundle.js")