html {
  @include desktop() {
    font-size: 16px;
  }
  @include tablets1100() {
    font-size: 15px;
  }
  @include tablets() {
    font-size: 14px;
  }
  @include mini() {
    font-size: 13px;
  }
}

body,
html {
  height: 100%;
}

body {
  font-size: rem(16px);
  line-height: 1.42;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include roboto();
}

.wrapper {
  min-height: 100%;
  position: relative;
  &-hidden{
    opacity: 0;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3%;
  z-index: 1;
}

.copyright {
  text-align: center;
  color: #fff;
  @include roboto('light');
  padding: rem(9px) 0;
}

.section {
  min-height: 650px;
  max-height: 1000px;
  height: 100vh;
  position: relative;
  &__image {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    &-icon {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: .1;
    }
  }
}

.triangle {
  position: absolute;
  top: -200px;
  left: 0;
  right: 0;
  height: 200px;
  display: flex;
  @include tablets1100{
    top: -140px;
    height: 140px;
  }
  @include tablets{
    top: -100px;
    height: 100px;
  }
  @include mobile{
    top: -50px;
    height: 50px;
  }
  &-left,
  &-right {
    width: 50%;
  }
  &-left {
    clip-path: polygon(0 100%, 0 0, 100% 100%);
    background-color: #f8f9f5;
  }
  &-right {
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
    background-color: #f8f9f5;
  }
}

.title {
  color: $grey;
  @include sansus();
  font-size: rem(63px);
  text-transform: uppercase;
  position: relative;
  padding: rem(70px) 0;
  @include underline(60, $grey);
  @include tablets{
    font-size: rem(48px);
    padding: rem(51px) 0;
    @include underline(41, $grey)
  }
  @include mobile{
    font-size: rem(35px);
    padding: rem(40px) 0;
    @include underline(31, $grey)
  }
}

.subtitle {
  @include subtitle($text-color);
  &--color_white {
    @include subtitle(#fff)
  }
}

.offscroll {
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

button[type="button"] {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}