
script(type="text/x-template")#skills-list
  .skills
    ul.skills__list
      li.skills__item(v-for="skillsRow in skills" :key="skillsRow.skillsGroup")
        skills-row(
          :skills="skillsRow"
        )
script(type="text/x-template")#skills-item
  .skills__row
    .skills__row-title {{skills.skillsGroup}}
    ul.skills__row-list
      li.skills__row-item(v-for="(skillPercentage, skillTitle) in skills.skillsItem")       
        skill(
          :title="skillTitle"
          :percentage="skillPercentage"
          )
script(type="text/x-template")#skill
  figure.skill
    svg(viewBox="0 0 110 110" width="110px" height="110px" preserveAspectRatio="none").skill__figure
      circle.skill__circle.skill__circle-back(cx="55" cy="55" r="45")
      circle.skill__circle.skill__circle-front(cx="55" cy="55" r="45" ref="circle")
    .skill__title {{title}}