.contacts {
  &__bg{
    background-image: url('assets/images/bg/map.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
  &__map{
    height: 100vh;
    min-height: 650px;
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    @include mini{
      align-items: flex-start;
    }
  }
  &-cell {
    display: flex;
    align-items: center;
    &__link {
      @include roboto('medium');
      opacity: .8;
      text-decoration: none;
      color: $text-color;
      &:hover{
        opacity: 1;
        color: $green
      }
    }
    &__icon {
      fill: $green;
      margin-right: 10px;
      &--skype {
        width: 24px;
        height: 24px;
      }
      &--mail{
        width: 23px;
        height: 16px;
      }
      &--phone{
        width: 17px;
        height: 20px;
      }
    }
  }
}