.fixed-menu {
  position: fixed;
  background-color: rgba($light-green, .87);
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: -9999px;
  right: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .9s;
  &--open {
    left: 0;
  }
  &__item {
    padding-bottom: rem(80px);
    text-align: center;
    position: relative;
    transition: .5s;
    &--active,
    &:hover {
      &::after {
        content: "";
        width: rem(90px);
        height: rem(3px);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: rem(50px);
        background-color: #fff;
        transition: .5s;
      }
    }
    @include tablets1100 {
      padding-bottom: rem(100px);
      &--active,
      &:hover {
        &::after {
          margin-bottom: rem(80px);
        }
      }
    }
    @include mobile {
      padding-bottom: rem(50px);
      &--active,
      &:hover {
        &::after {
          margin-bottom: rem(30px);
        }
      }
    }
  }
  &__link {
    @include sansus();
    font-size: rem(63px);
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    @include tablets1100 {
      font-size: rem(49px);
    }
  }
}