.form {
  padding: 35px 20px 0;
  background-color: rgba(#122620, .6);
  margin: 0 auto;
  position: relative;
  &--bg_color {
    background-color: rgba(#dadbd6, .6);
  }
  &__row {
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    &:last-child {
      margin-bottom: 0;
      margin-left: -20px;
      margin-right: -20px;
    }
    &-title {
      @include roboto('bold');
      color: rgba(#fff, .8);
      width: 100%;
      margin-bottom: 10px;
      text-align: center
    }
  }
  &__list {
    display: flex;
    width: 100%;
    z-index: 2;
  }
  &__item {
    @include itemForm();
    width: 50%;
  }
  &__link {
    display: block;
    @include roboto('medium');
    text-decoration: none;
    color: #fff;
    padding: 12px 0;
  }
  &__submit,
  &__reset {
    @include btn(#fff, $light-green, $green);
    @include roboto('medium');
    width: 100%;
    height: 45px;
    border: none;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: 2px solid rgba(#dee3e7, .5);
    &:last-child {
      border: none;
    }
  }
  &__button {
    @include itemForm();
    @include roboto('medium');
    width: 100%;
    border-left: none;
    border-top: none;
    border-bottom: none;
  }
  &__label {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    margin: 0 20px;
    width: 100%;
    justify-content: center;
    &--radio{
      width: auto
    }
    &-text {
      color: rgba(#fff, .8)
    }
  }
  &__input {
    z-index: 2;
    @include input();
    width: 85%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    &--reviews {
      width: 100%;
      border-radius: 25px;
    }
    &::placeholder {
      color: rgba($grey, .5);
    }
    &-label {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      &--error {
        .form__input {
          border: 1px solid #e44845;
          &-icon {
            svg {
              fill: #e44845
            }
          }
        }
      }
      &--success {
        .form__input {
          border: 1px solid $green;
          &-icon {
            svg {
              fill: $green
            }
          }
        }
      }
    }
    &-icon {
      position: relative;
      width: 15%;
      background-color: #f0efe9;
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      &__login,
      &__password {
        fill: #c4c4cc
      }
      &__login {
        width: 15px;
        height: 17px;
      }
      &__password {
        width: 18px;
        height: 17px;
      }
    }
  }
  &__error {
    background-color: #e44845;
    width: 80%;
    @include roboto('medium');
    color: #fff;
    border-radius: 5px;
    line-height: 30px;
    position: relative;
    top: 15px;
    text-align: center;
    transition: 1s;
    &-triangle {
      position: absolute;
      top: -20px;
      left: 50%;
      border-top: 10px solid transparent;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 10px solid #e44845;
      transform: translateX(-50%);
    }
  }
  &__textarea {
    z-index: 2;
    @include input();
    border-radius: 25px;
    width: 100%;
    resize: none;
    border-color: transparent;
    min-height: 140px;
    &::placeholder {
      color: rgba($grey, .5);
    }
  }
  &__radio {
    display: none;
    &-custom {
      display: inline-block;
      width: 21px;
      height: 20px;
      background-color: #ffffff;
      border: 1px solid #ccc;
      border-radius: 50%;
      position: relative;
      margin-right: 10px;
    }
    &:checked+&-custom::before {
      content: "";
      display: block;
      position: absolute;
      width: 9px;
      height: 9px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $green;
      border-radius: 50%;
      margin: auto;
    }
    &:checked+&-custom+.form__label-text {
      color: rgba($green, .8);
    }
  }
  &__checkbox {
    display: none;
    &-custom {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 2px;
      margin-right: 10px;
    }
    &-icon {
      display: block;
      position: absolute;
      width: 12px;
      height: 9px;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      fill: #fff;
      margin: auto;
    }
    &:checked+&-custom {
      background-color: $green;
    }
  }
}