.preloader{
  position: fixed;
  height: 100vh;
  min-height: 650px;
  width: 100%;
  top: 0;
  left: -100%;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity .3s, left .5s;
  z-index: 9999;
  &__bg{
    background-image: url('assets/images/preloader/forest_prel_bg.jpg');
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  &__image{
    z-index: 100;
  }
  &__path{
    &--top{
      transform: translateY(0%)
    }
    &--center{
      transform: translateY(25%)
    }
    &--bottom{
      transform: translateY(50%)
    }
  }
}