.user {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 2;
  position: relative;
  &__wrap {
    padding: rem(40px) 0;
    max-width: rem(380px);
    margin: 0 auto;
  }
  &__title {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__image {
    margin-bottom: rem(20px);
    width: 100%;
    display: flex;
    justify-content: center;
    &--blog {
      margin-bottom: 0;
    }
    &-pic {
      width: rem(147px);
      height: rem(147px);
      clip-path: circle(50% at 50% 50%);
      object-fit: cover;
    }
    &-full {
      object-fit: cover;
    }
  }
  &__info {
    display: flex;
    flex-direction: column;
    margin-bottom: rem(35px);
    text-align: center;
    @include tablets1000 {
      margin-bottom: rem(20px);
    }
  }
  &__title {
    @include roboto('medium');
    font-size: rem(35px);
    color: #fff;
    padding-bottom: rem(9px);
    @include tablets {
      font-size: rem(28px);
    }
    @include mobile {
      font-size: rem(21px);
    }
  }
  &__subtitle {
    font-size: rem(16px);
    color: rgba(#fff, .8);
  }
  &__desc {
    text-align: left;
    @include tablets1000 {
      text-align: center
    }
    p {
      padding-bottom: rem(10px);
    }
  }
  &-data {
    background-color: rgba(#f4f5f0, .85);
    max-width: rem(380px);
    z-index: 2;
    padding: rem(35px) 0 rem(30px);
    @include mini {
      width: 100%;
    }
  }
  &-contacts {
    &__list {
      padding: 0 rem(40px);
    }
    &__item {
      margin-bottom: rem(25px);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}